.formulario{
    position: relative;
    align-items: center;
}



.estrutura{
    color:white;
    background-color: MidnightBlue;
    position: relative;
    top: 50%;
    left: 25%;
    border-radius: 25px;
    font-size: 20px;
}

.equipe{
    color:white;
    background-color: MidnightBlue;
    position: relative;
    top: 50%;
    left: 30%;
    border-radius: 22px;
    font-size: 20px;
}

.input{
    color: aliceblue;
    color: black;
    border-color: white;
    border-top-style: double;
    border-block-end-color: rgb(141, 140, 140);
    border-right-color: white;
    border-left-color: white;
    border-left-style: dotted;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    border-width: 1px;
    
}

#nome {
    width: 995px;;

}

strong{
    font-size: 18px;
}

#feminino{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: sub;
    width: 20px;
    border-radius:4px;
    text-align: end;
}

#masculino{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: sub;
    width: 20px;
    border-radius:4px;
    text-align: end;
}



#sexo{
    font-size: 15px;
    align-items: center;
}

span{
    font-size:inherit;
    font-weight: bold;
}


fieldset{
    position: relative;
    width: 1200px;
    top: 250px;
    left: 130px;
    background-color: white;
}

.whorkshop{
    align-items: center;
    position: relative;
    left: 200px;
}


#whork{
    align-items: center;
    position: relative;
    left: 135px;
}


body{
    background-image: 
}

#whorkEq{
    align-items: center;
    position: relative;
    left: 400px;
}

.rg, #rg,.email{
    position: relative;
    left: 30px;
}

.email{
    left: 50px;
}


#email{
    position: relative;
    left: 50px;
    width: 500px;
}


body{
    background-color: blue;
    background-image: url(enfe.jfif);
    position: relative;
    width: 60px;
}




@media only screen and (max-device-width: 900px) {
.menu { width:100%; } 
}


.botao{
    position: relative;
    width: 300px;
    left: 450px;
    border-radius: 10px;
    font-size: 20px;
    background-color: LightCoral;
    color: white;
    border-color: white;
    border-right-color: white;
    border-left-color: white;
    border-width: 1px;
}